# SPDX-FileCopyrightText: 2026 The sentinelmde-scripts authors
# SPDX-License-Identifier: GPL-3.0-or-later
tenant_id=
client_id=
client_secret=
target_subscription_id=
target_resourcegroup_name=
target_workspace_name=
oauth_uri=https://login.microsoftonline.com
resource_uri=https://management.azure.com
